@media screen and (max-width: 1250px) {
  nav li {
    margin: 0em 1.5vh 0em 1.5vh;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120%;
  }
  footer .footerLogo li {
    margin: 0em;
  }
  footer #create {
    margin-top: 0.2em;
    margin-bottom: 1em;
  }

  footer .socialMedia img {
    height: 50px;
  }

  footer .footerNavigation li,
  footer .otherFooterNavigation li {
    margin: 0em 0em 0em 0em;
  }

  footer h2 {
    margin: 0.2em 0em;
  }

  .main_index {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }

  .btn-first.b2 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 870px) {
  nav li {
    font-size: 100%;
  }
}

@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
    padding: 2vh;
    font-size: 150%;
    background-image: url(../Pictures/logo/littlelogobackground.png);
    background-color: #3f3f3f13;
    background-position: top;
    background-repeat: no-repeat;
    transition: none;
  }

  nav .logo img {
    display: none;
  }
  footer .socialMedia img {
    height: 30px;
  }
  footer {
    font-size: 100%;
  }
  .main_index .ok .adBand {
    width: 90vw;
  }

  .main_index .logoDC {
    width: 90vw;
    height: auto;
  }

  .main_index .mainPage h1 {
    font-size: 15vw;
  }

  .main_index .mainPage h2 {
    font-size: 8vw;
  }

  .main_index .mainPage p {
    font-size: 5vw;
  }

  .main_index .ok p {
    font-size: 5vw;
  }

  .main_index .btn-first {
    width: 60vw;
    font-size: 4vw;
  }
}
@media screen and (max-width: 275px) {
  footer {
    font-size: 80%;
  }
}
@media screen and (max-width: 1100px) {
  .contact .form input {
    width: 50%;
  }
  .contact #h1contact {
    font-size: 6vw;
  }
  .contact #h2contact {
    font-size: 5vw;
  }
  .contact #info {
    font-size: 4vw;
  }
  .contact .form select {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .contact .form input {
    width: 80%;
  }
  .contact .form select {
    width: 80%;
  }
  .contact .form textarea {
    width: 80%;
    height: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .newsletter h1 {
    font-size: 35px;
  }
  .newsletter .form input[type="submit"] {
    width: 40%;
  }
  .newsletter .form input[type="email"] {
    width: 40%;
    line-height: 20px;
    font-size: 130%;
  }

  @media screen and (max-width: 500px) {
    .newsletter h1 {
      font-size: 20px;
    }
    .newsletter h2 {
      font-size: 15px;
    }
    .newsletter p {
      font-size: 12px;
    }
    .newsletter .form input[type="submit"] {
      font-size: 8px;
    }
    .newsletter .form input[type="email"] {
      width: 40%;
      line-height: 10px;
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .nos-services .firstPart h1 {
    font-size: 7vw;
  }
  .nos-services .secondPart h1,
  .nos-services .secondPart h2 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 800px) {
  .nos-services .phases h2,
  .nos-services .phases p {
    font-size: 2vw;
  }
  .nos-services .phases {
    height: max-content;
  }
  .nos-services .secondPart .service > * {
    flex: auto;
  }
  .nos-services .secondPart .service {
    margin: 1em;
  }
}

@media screen and (max-width: 450px) {
  .nos-services .secondPart .service .services p {
    font-size: 4vw;
  }
  .nos-services .phases p,
  .nos-services .secondPart h2 {
    font-size: 3.5vw;
  }
  .nos-services .phases {
    width: 33vw;
  }
}
@media screen and (max-width: 1250px) {
  .lignValues {
    height: 0px;
  }
  .Distinction {
    flex-direction: column;
  }
  .distinctions {
    width: 80%;
    margin: 2em;
  }
  .Propos #ap_ourValues {
    font-size: 15vw;
  }
  .value h2 {
    font-size: 4vw;
  }
  .Propos .history h1 {
    font-size: 10vw;
    text-shadow: 0.7vw 0.7vw 0.5px #0000006e;
  }

  .Propos .history p {
    font-size: 2.5vw;
  }
  .Propos .teamDC h1 {
    font-size: 6vw;
    text-shadow: -0.5vw 0.5vw 0.5px #7676766e;
  }

  .Propos .teamDC .teamPictures {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .Propos .distinctions {
    height: 120%;
  }
}
@media screen and (max-width: 1250px) {
  .blog .blogs {
    height: min-content;
    padding: 2vw;
  }
  .blog .blogs img {
    height: 20vw;
    margin-top: 50%;
  }
  .blog .blogs h2 {
    font-size: 3.5vw;
  }
  .blog .blogs p {
    font-size: 2vw;
  }
  .blog .blogs h4 {
    font-size: 2vw;
  }
  .blog .title h1 {
    font-size: 10vw;
  }
  .blog .title h2 {
    font-size: 6vw;
  }
  .blog .title {
    margin-bottom: 5px;
  }
  .blog {
    padding: 2px;
  }
}

@media screen and (max-width: 600px) {
  .blog .blogs h2 {
    font-size: 5vw;
  }
  .blog .blogs p {
    font-size: 3.5vw;
  }
  .blog .blogs h4 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 350px) {
  .blog .blogs h2 {
    font-size: 5.5vw;
  }
  .blog .blogs p {
    font-size: 4vw;
  }
  .blog .blogs h4 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1200px) {
  .galerieMain h1 {
    font-size: 10vw;
  }
  .galerieMain #h2galerie {
    font-size: 3.7vw;
  }
  .galerieMain .galerie {
    width: 95%;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 430px) {
  .galerieItem {
    width: 95%;
    height: 70%;
  }
  .galerieMain .galerie .align p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 700px) {
  .Flaticon {
    font-size: 70%;
  }
}

@media screen and (max-width: 580px) {
  .Flaticon {
    width: 75%;
    height: 150%;
  }
  .mentionsLegales {
    font-size: 85%;
  }
}

@media screen and (max-width: 350px) {
  .mentionsLegales p {
    font-size: 2vw;
  }
  .mentionsLegales h2 {
    font-size: 5vw;
  }

  .mentionsLegales li {
    font-size: 3vw;
  }
}
