* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RobortoCondensed";
  src: url(../font/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "RobortoCondensed";
  src: url(../font/RobotoCondensed-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "RobortoCondensed";
  src: url(../font/RobotoCondensed-LightItalic.ttf);
  font-style: italic;
}

body {
  font-family: "RobortoCondensed";
  height: 100vh;
}

li {
  list-style-type: none;
  font-weight: bold;
}

/* Navigation Bar */

nav {
  box-shadow: 0.2px 1px 10px grey;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #454545;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

nav li {
  margin: 0em 1em 0em 1em;
}

nav .logo img {
  margin: 1em;
  height: 3em;
  transition: 1s;
  min-height: 100%;
}

nav .logo img:hover {
  height: 3.5em;
}

nav a:link,
nav a:visited {
  color: #7c7c7c;
  text-decoration: none;
  transition: 0.7s;
}

nav .text:hover {
  font-size: 150%;
  text-shadow: 2px 2px 5px rgb(209, 209, 209);
  color: #0097ce;
}

.actualPage {
  color: #414141;
}

nav li {
  font-size: 150%;
  margin-right: 2em;
}

a:active {
  color: #27f6fd;
}

/* End of Navigation Bar */

/*Footer*/

.socialMediaLogo {
  height: 3vw;
}

footer {
  background-color: rgba(0, 0, 0, 0.207);
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

footer a:link,
footer a:visited {
  color: #454545;
  text-decoration: none;
  transition: 0.5s;
}

footer .footerNavigation a:hover,
footer .otherFooterNavigation a:hover {
  color: #007982;
  font-size: 107%;
}

.logo img {
  margin: 1em;
  height: 4em;
  transition: 0.6s;
}

footer li {
  margin: 1em 5em;
}

.footerLogo li {
  margin: 0em 5em 0em 1em;
  font-weight: normal;
}

#create {
  margin-top: 2em;
}

.socialMediaLogo {
  margin: 3em 0.5em 0em 0.5em;
  transition: 0.6s;
}

.socialMediaLogo:hover {
  height: 3.5vw;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

.actualPageFooter {
  color: #7e7e7e;
}

.gradient {
  height: 3px;
  width: 100%;
  background: linear-gradient(white, rgba(0, 0, 0, 0.207));
}

.navBar ul {
  margin-bottom: 0rem;
}
/*End of Footer*/

/* Index page */

.main_index {
  display: flex;
  justify-content: space-around;
  padding: 5em;
  background-color: rgba(250, 235, 215, 0.159);
  position: relative;
  overflow-x: hidden;
}

.main_index img {
  height: 17em;
  width: max-content;
  margin: 1em;
}

.logoDC {
  position: relative;
  top: 10px;
}

.container-btns {
  position: relative;
  top: 35px;
}
.btn-first {
  border: 2px solid #f1f1f1;
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: #f1f1f1;
  cursor: pointer;
}
.btn-first:nth-child(1) {
  margin-right: 30px;
}

.btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: #f1f1f1;
  color: #333;
}
.btn-first {
  border: 2px solid #414141;
  outline: none;
  background: transparent;
  font-size: 20px;
  padding: 15px;
  width: 300px;
  color: #414141;
  cursor: pointer;
}

.btn-first:nth-child(1) {
  margin-right: 10px;
}

.btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: #414141;
  color: #f1f1f1;
}

.mainPage {
  flex-direction: column;
  text-align: center;
}

.main_index h1 {
  text-transform: uppercase;
  color: #090909d4;
  font-size: 600%;
  text-shadow: 1px 1px 5px#45454513;
}

.main_index h2 {
  text-transform: uppercase;
  color: #003457b3;
  font-size: 400%;
  text-shadow: 1px 1px 5px#45454513;
}

.main_index p {
  padding: 10px;
  padding-bottom: 0px;
  color: #09090975;
  font-size: 200%;
  text-shadow: 1px 1px 5px #45454513;
}

.main_index span {
  position: relative;
}

.main_index p {
  font-size: 170%;
  text-shadow: 1px 1px 0.5px#45454527;
  color: #454545;
}

.container img {
  margin: 1em;
  transition: 1s;
}

.container img:hover {
  opacity: 0;
}

.container {
  width: 2em;
}

.adBand {
  position: relative;
  display: flex;
  border: thin;
  border-radius: 1em;
  background-color: #4545456e;
  box-shadow: 2px 2px 10px rgba(72, 71, 71, 0.2);
  width: 35em;
  height: auto;
  flex-direction: column;
  text-align: center;
}

.carousel-item {
  transition: 0.4s;
}

.carousel-item:hover {
  filter: grayscale(1);
}

.carousel-item img {
  border-radius: 1em;
  width: 95%;
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.768);
  background-size: 100%, 100%;
}

.carousel-indicators {
  border-radius: 100px 100px 0px 0px / 75px 75px 0px 0px;
  background-color: #4545456e;
}

.carrouselAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* End of Index Page */

/* Formulaire de contact */

.contact,
.newsletter {
  margin: 2.5%;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 8px 8px 10px #414141;
  background-color: rgb(248, 248, 248);
}

.contact h1 {
  padding: 2%;
  padding-bottom: 0.5%;
  color: #009130;
  text-shadow: 2px 2px 10px #bfbfbf;
  font-size: 300%;
}

.contact h2 {
  padding: 0% 2% 1.3% 2%;
  text-shadow: 1px 1px 10px #bfbfbf;
  font-size: 250%;
  color: #355cb5;
}

.contact label,
.contact p {
  font-size: 110%;
}

.form label {
  font-size: 125%;
  color: rgba(0, 130, 191, 0.891);
}

.form input,
.form select {
  padding: 6px 8px;
  width: 20%;
  line-height: 16px;
  box-sizing: border-box;
  margin: 0.25vw;
  transition: 0.2s;
}

.form input:hover,
.form select:hover,
textarea[name="Votre texte"]:hover {
  box-shadow: 2px 2px 1px #45454564;
}

textarea[name="Votre texte"] {
  resize: none;
  height: 10vw;
  width: 50vw;
  margin: 0.5% 2% 0% 2%;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 100%;
  padding: 6px 8px;
  transition: 0.2s;
}

textarea[name="Votre texte"]:hover {
  box-shadow: 3px 3px 1px #45454564;
}

#info {
  margin-bottom: 10px;
}

#asterisk {
  color: rgba(189, 0, 0, 0.755);
  font-size: 120%;
  margin-bottom: 2%;
  text-decoration: underline;
}

label[for="input"] {
  color: rgba(189, 0, 0, 0.755);
  font-weight: bold;
  font-size: 150%;
}
/* Fin du formulaire de contact */

/*Formulaire d'abonnement mail à la newsletter*/

.newsletter img,
.contact img {
  height: 25%;
  width: 25%;
  padding: 1vw;
}

.newsletter h1 {
  color: #009130;
  text-shadow: 4px 4px 2px #d1d1d17e;
  font-size: 300%;
}

.newsletter h2 {
  color: #454545c4;
  font-weight: normal;
  margin-bottom: 1.5vw;
}
.newsletter .form input[type="email"] {
  width: 25%;
  line-height: 30px;
  font-size: 150%;
  text-align: center;
}

.newsletter .form input[type="email"]:hover {
  box-shadow: 5px 5px 1px #45454564;
}

.newsletter .form input[type="submit"] {
  max-width: 15%;
  line-height: 20px;
  background-color: #06f555;
  font-weight: bold;
  font-size: 100%;
}

.newsletter .form input[type="submit"]:hover {
  line-height: 35px;
  box-shadow: 5px 5px 1px #45454564;
  font-size: 115%;
}

/*Fin de formulaire d'abonnement mail à la newsletter*/

/*Main of service*/
.nos-services h1 {
  text-align: center;
  font-size: 400%;
  color: #007691;
  text-shadow: 5px 5px 1px #2222222a;
}

.nos-services .firstPart {
  background-color: #561e1e1c;
  box-shadow: 5px 5px 10px #454545;
}

.nos-services .secondPart {
  background-color: #f3b40725;
  padding-bottom: 3em;
  box-shadow: 1px 1px 3px #454545;
}

.secondTitle h1 {
  padding-top: 1em;
  color: #009130;
  font-size: 600%;
  text-shadow: 3px 3px 1px #2222222a;
}

.secondTitle h2 {
  font-size: 320%;
  color: #009130;
  text-shadow: 3px 3px 1px #2222222a;
  padding-bottom: 0;
}

.phases {
  background-color: #ffffff;
}

#three {
  font-size: 300%;
  color: rgba(189, 0, 0, 0.755);
  text-shadow: 5px 5px 1px #bfbfbf;
  text-decoration: underline;
  padding: 0.1em;
}

.votre {
  font-size: 190%;
  color: rgb(0, 91, 189);
  text-decoration: underline;
  padding: 0.2em;
  text-shadow: 5px 5px 1px #2222222a;
}

.nos-services {
  text-align: center;
  align-content: center;
}

.nos-services .img {
  height: 10vw;
  width: 10vw;
}

.nos-services section {
  display: flex;
  justify-content: center;
  margin: auto 0;
  height: 100vh;
  padding: 50px;
  text-align: center;
  font-size: 0.9vw;
}

.nos-services section h2 {
  padding: 10%;
  color: #1e2f56;
}

.nos-services section div {
  width: 25%;
  margin: 2%;
  padding: 2%;
  box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1),
    0px -5px 0px 0px rgba(95, 84, 253, 0.004);
}
.nos-services section p {
  margin-top: 3vw;
  color: rgba(7, 7, 95, 0.919);
  font-size: 130%;
}

.nos-services section div:hover {
  border-top: 6px solid transparent;
  border-top-color: transparent;
  border-radius: 2vw;
  border-color: #1e2f56;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.2s;
  width: 25%;
}

.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  text-align: center;
  margin: 4em;
  margin-bottom: 0em;
  transition: 0.2s;
  font-size: 135%;
}
.service > * {
  flex: 1 1 200px;
}

.services {
  box-shadow: 12px 12px 2px 1px rgba(123, 123, 123, 0.659);
  border-top-color: transparent;
  background-color: whitesmoke;
  text-align: center;
  margin: 2%;
  padding: 2%;
  font-size: 22px;
}

.service :hover {
  border-radius: 6%;
  background-color: antiquewhite;
  box-shadow: 10px 10px 5px rgba(123, 123, 123, 0.659);
}

.service .services :hover {
  box-shadow: none;
  transition: none;
}

.service h2 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: rgba(189, 91, 0, 0.926);
}

.service img {
  height: 8vw;
  padding: 1vw;
}
/*End Main of service*/

/*main of A propos*/
.propos {
  background-color: #e3e8eb;
}
.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.proposFirstPart {
  background-color: #000e31c7;
  padding-bottom: 10em;
  box-shadow: 1px 10px 7px #0000005f;
  background-image: url(./logo/logobackground.png);
  background-position: center;
}

.value {
  color: #313131;
  text-shadow: 2px 2px 2px #2222222a;
  display: flex;
  position: relative;
  font-size: 30px;
  cursor: default;
}

.values h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 800%;
  color: #eede01;
  text-shadow: 2px 2px 5px #0000009f;
  transition: 0.2s;
  cursor: default;
}

.values h1:hover {
  text-shadow: 2px 2px 50px #0000009f;
}

.values h2 {
  color: rgba(133, 247, 255, 0.974);
  text-shadow: 2px 2px 10px #0000007b;
  transition: 0.5s;
}

.values h2:hover {
  color: rgb(0, 238, 255);
  text-shadow: 2px 2px 80px #00d9ff9f;
  font-size: 200%;
}

.lignValues {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  justify-content: space-evenly;
}

.Distinction {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Distinction img {
  width: 10em;
  height: 10em;
}

.Distinction {
  display: flex;
  justify-content: space-around;
}
.Distinction p {
  font-size: 25px;
}

.Distinction h1 {
  text-align: center;
  font-size: 320%;
  color: #519ff3;
  text-shadow: 3px 3px 1px #22222241;
}
.distinctions {
  padding: 1.5em;
  text-align: center;
  min-width: 25%;
  max-width: 35%;
  height: 19em;
  border-radius: 3em;
  box-shadow: 3px 3px 50px #00000074;
  background-color: rgba(255, 255, 255, 0.179);
  transition: 0.2s;
  color: rgba(248, 248, 248, 0.542);
}

.distinctions:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 50px #f7f8f874;
  color: #000000;
  text-shadow: 5px 5px 1px #22222221;
}

.history {
  padding: 1em;
  background-color: #c2bc006e;
  box-shadow: 1px 10px 7px #0000005f;
}
.history p {
  column-count: 2;
  column-width: 20em;
  font-size: 25px;
  padding: 1em;
}
.history h1 {
  padding: 0.25em;
  font-size: 800%;
  color: #ca8d3e;
  text-shadow: 7px 7px 0.5px #0000006e;
  transition: 0.2s;
}

.history:hover > h1 {
  text-shadow: 14px 14px 0px #0000006e;
}

.teamDC {
  padding: 1.5em;
  background: linear-gradient(#0080aa54, #001a2254);
  box-shadow: 1px 5px 7px #0000005f;
}

.teamDC h1 {
  text-align: end;
  font-size: 600%;
  padding: 0.3em;
  color: #002bd6;
  text-shadow: -7px 7px 0.5px #7676766e;
  transition: 0.2s;
}

.teamDC:hover > h1 {
  text-shadow: -14px 14px 0px #7676766e;
}

.teamPictures {
  margin: 1em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.teamPictures img {
  width: 100%;
  height: auto;
}

.teamPictures p {
  font-size: 25px;
}
.image {
  box-shadow: 5px 5px 5px #2222222a;
  padding: 0.2em;
  width: 30%;
  height: min-content;
  margin: 1em;
  transition: 0.4s;
  background-color: rgb(255, 255, 255);
  text-align: center;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
}

.image p {
  opacity: 0;
  border-radius: 75px 75px 44px 0px / 75px 75px 0px 0px;
  background-color: rgba(196, 196, 196, 0.152);
  margin-bottom: 0;
  transition: 0.4s;
}

.image:hover {
  width: 33%;
  box-shadow: 5px 5px 20px #222222e9;
  border: 0.2em solid #00000080;
}

.image:hover > p {
  opacity: 1;
}

/*End main of A propos*/

/*Main of Blog*/
.title {
  margin-bottom: 3em;
  font-size: 30px;
  text-align: center;
}

.title h1 {
  font-size: 350%;
  color: #002bd6;
  text-shadow: 5px 5px 2px #4545454d;
}

.title h2 {
  text-shadow: 2px 2px 2px #4545454d;
  color: #383838;
}

.blog {
  margin: 0.5em;
  padding: 2em;
  background-color: rgba(250, 235, 215, 0.07);
}

.blogs {
  display: flex;
  border: transparent;
  box-shadow: 5px 5px 10px #0f0909a2;
  margin: 0.3em;
  padding: 3em;
  height: 100%;
  transition: 0.2s;
  background-color: white;
}

.blogs p {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 110%;
  color: #000000de;
}
.blogs h2 {
  display: flex;
  margin: 0.6em;
  font-size: 30px;
  color: #00b7e1;
  text-shadow: 3px 3px 1px #4545451c;
}

.blogs h4 {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 2em;
  text-shadow: 0.5px 0.5px 2px #4545451c;
}

.blog a:link,
.blog a:visited {
  color: black;
  text-decoration: none;
}

.blogText {
  margin: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.2s;
}

.blogText:hover {
  text-shadow: 3px 3px 1px #00f7ff0e;
  color: black;
}

.blogs:hover {
  background-color: rgba(162, 0, 0, 0.05);
  box-shadow: 5px 5px 20px #0f0909c0;
}

.blog h2 {
  margin: 0 0 1em 0;
  font-size: 250%;
}

/* Galerie */

.galerie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1980px;
  margin: 70px auto 0;
  padding-bottom: 5vh;
}
.galerieItem {
  width: 400px;
  height: 250px;
  margin: 5px;
  overflow: hidden;
  flex-shrink: 0;
  display: inline-block;
  transition: 0.5s;
}
.galerieItem img {
  width: 100%;
  height: 100%;
  transition: 0.8s;
}

.galerieItem p {
  font-size: 130%;
  opacity: 0;
  transition: 0.5s;
  color: #eeeeee;
  text-shadow: 2px 2px 2px #454545;
  padding: 10px;
}

.galerieItem:hover p {
  opacity: 1;
}

.galerieItem:hover img {
  filter: grayscale(1);
}

.galerieMain {
  background-color: rgba(250, 235, 215, 0.159);
  text-align: center;
}

.galerieMain h1 {
  margin: 20px;
  padding: 1vh;
  padding-bottom: 0;
  text-transform: uppercase;
  color: #090909d4;
  font-size: 600%;
  text-shadow: 5px 5px 5px#45454513;
}

.galerieMain h2 {
  text-transform: uppercase;
  color: #003457b3;
  font-size: 300%;
  text-shadow: 3px 3px 5px#45454513;
}

.galerie .galerieItem .infoCollab .align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.galerie .galerieItem .infoCollab {
  background: linear-gradient(#0e0e0ec6, #0e0e0ef3);
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.galerie .galerieItem:hover .infoCollab {
  cursor: pointer;
  margin-top: 0%;
}
.galerie .galerieItem {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.galerieItem span {
  color: crimson;
}

/* Fin de la galerie */

/* Mentions légales */

.mentionsLegales {
  padding: 3em;
  background-color: rgba(250, 235, 215, 0.159);
}

.mentionsLegales h1 {
  text-align: center;
  font-size: 600%;
  text-shadow: 5px 5px 1px #00000023;
  color: rgba(7, 7, 95, 0.919);
  margin-bottom: 0.5em;
}

.mentionsLegales h2 {
  padding: 1em 0 0.2em;
  font-size: 300%;
  color: #222222;
  text-shadow: 3px 3px 1px #00000023;
}

.mentionsLegales p {
  color: #454545d4;
  font-size: 120%;
}

.mentionsLegales a:link,
a:visited {
  color: rgba(5, 61, 202, 0.741);
  text-decoration: none;
}

.mentionsLegales a:link:hover,
.mentionsLegales a:visited:hover {
  text-decoration: underline;
}

.Flaticon {
  margin: 5px 0;
  border: 2px solid #45454567;
  width: max-content;
  padding: 0.5em;
  box-shadow: 1px 1px 5px #45454565;
  background-color: #fceb002c;
}
/* Fin des mentions légales*/
